.img-input-container {
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.img-input {
  cursor: pointer;
  border-radius: 15px;
  background: #c4c4c4;
  width: 68px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-input img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

.img-input-field {
  position: absolute;
  width: 100%;
  height: 100%;
}

.input-form {
  font-family: Montserrat, sans-serif;
  color: var(--faded-black);
  max-width: 400px;
}

.input-form * {
  outline-color: var(--green);
}

.input-form .field-group {
  margin: 2rem 0;
}

.text-field input {
  padding: 0.5rem;
}

.input-form input,
.input-form textarea {
  -webkit-appearance: none;
  border: 1px solid var(--faded-black);
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.recipe-input textarea {
  resize: none;
  height: 10rem;
}

.vertical {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  position: relative;
}

.checkbox input {
  -webkit-appearance: none;
  position: relative;
  width: 52px;
  outline: none;
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 16px;
  background-color: var(--faded-black);
  transform: translateX(0);
  border: none;
}

.checkbox input:after {
  content: "";
  position: absolute;
  border-radius: 16px;
  width: 28px;
  left: 2px;
  height: 28px;
  transition: all 0.2s;
  background-color: white;
}

.checkbox input:checked {
  transition: all 0.2s;
  background-color: var(--green);
}

.checkbox input:checked::after {
  transform: translateX(20px);
  transition: all 0.2s;
}

.ingredient-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.ingredient-input input {
  padding: 0.5rem;
}

.ingredient-input.number input {
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form button {
  background-color: var(--green);
  border: none;
  color: white;
  float: right;
  padding: 0.5rem;
  width: 72px;
  border-radius: 10px;
}
