.layout-container {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout-container main {
  height: 100%;
  align-self: center;
  overflow: scroll;
  font-family: "Montserrat" sans-serif;
  width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for IE, Edge and Firefox */
.layout-container main::-webkit-scrollbar {
  display: none;
}
