.menu-bar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  min-height: 48px;
  height: 48px;
  width: 100%;
  border-top: 1px solid var(--faded-black);
  z-index: 300;
}

.menu-bar ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.outside-click {
  position: absolute;
  top: 0vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  ); /* Standard syntax (must be last) */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 150;
  transition: all 0.6s ease-in-out;
}
.menu-bar__popup {
  position: absolute;
  font-weight: 600;
  background-color: #fff;
  box-shadow: 0 -30px 30px -30px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0 0;
  width: 80vw;
  bottom: 0;
  transform: translateY(100%);
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
}

.menu-bar__popup ul {
  width: 80%;
}

.menu-bar__popup li {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid var(--faded-black);
}

.menu-bar__popup.open {
  position: absolute;
  transform: translateY(-48px);
  height: fit-content;
  transition: transform 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
}
