.menu-bar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  min-height: 48px;
  height: 48px;
  width: 100%;
  border-top: 1px solid var(--faded-black);
  z-index: 300;
}

.menu-bar ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.outside-click {
  position: absolute;
  top: 0vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 150;
}
.menu-bar__popup {
  position: absolute;
  font-weight: 600;
  background-color: #fff;
  box-shadow: 0 6px 30px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0 0;
  width: 80vw;
  bottom: 0;
  transform: translateY(-48px);
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: transform 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
}
.menu-bar__popup li {
  padding: 10px 20px;
  cursor: pointer;
}

.menu-bar__popup.open {
  position: absolute;
  transform: translateY(48px);
  /* bottom: 48px; */
  height: fit-content;
  transition: transform 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
}
