.nav-container {
  position: fixed;
  background-color: white;
  top: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

ul {
  display: flex;
  justify-content: flex-end;
}

li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}
