.credentials-form {
  position: relative;
  top: 10vh;
  width: 100%;
  height: 300px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Montserrat";
  margin: 0 auto;
}

form label {
  position: absolute;
  color: var(--faded-black);
}

input {
  position: relative;
  -webkit-appearance: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 2px solid var(--faded-black);
  z-index: 200;
}

.credenttials-form input {
  outline: none;
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

.credentials-form__buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.credentials-form__buttons #submit-button {
  position: relative;
  border-radius: 50%;
  border: none;
  width: 48px;
  height: 48px;
  background-color: var(--green);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#submit-button > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: translate(-60%, -50%) rotate(-45deg);
}
