.secondary-nav {
  position: fixed;
  top: var(--header-height);
  width: 100%;
  background: #fff;
  color: rgba(0, 0, 0, 0.4);
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  height: 48px;
  z-index: 200;
}

.secondary-nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.secondary-nav ul li {
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
}

.active {
  color: rgba(0, 0, 0);
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-bottom: solid 1px black;
  z-index: 100;
}
