.add-button {
  position: absolute;
  bottom: 54px;
  right: 16px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 48px;
  height: 48px;
  background-color: var(--green);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.add-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 24px;
  border-radius: 20px;
  background-color: #fff;
}
.add-bar:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) rotate(90deg);
  width: 2px;
  height: 24px;
  border-radius: 20px;
  background-color: #fff;
}
